* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', 'Arial', sans-serif;
  }
  
  /* HEADINGS */
  
  h1, p {
    color: #fff;
    text-align: center;
    line-height: 1.4;
  }
  
  h1 {
    font-size: 2.2rem;
  }
  
  h2 {
    color: #000;
    font-size: 1.3rem;
    text-align: center;
    line-height: 1.4;
    margin-bottom: 10px;
  }
  
  /* BASIC SETUP */
  
  .page-wrapper {
    width: 100%;
    height: auto;
  }
  
  .nav-wrapper {
    width: 100%;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    background-color: #fff;
  }
  
  .grad-bar {
    width: 100%;
    height: 5px;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
        -webkit-animation: gradbar 15s ease infinite;
      -moz-animation: gradbar 15s ease infinite;
      animation: gradbar 15s ease infinite;
  }
  
  /* NAVIGATION */
  
  .navbar {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    height: 80px;
    overflow: hidden;
    padding:0px 9%;
    display: flex;
    justify-content: space-between;
  }
  
  .navbar img {
    height: 16px;
    width: auto;
    justify-self: start;
    margin-left: 20px;
  }
  
  .navbar ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20%;
  }

  .Notification img{
    height: 30% !important;
  }
  .Avatar img{
    height: 50px !important;
  }

  li{
    list-style-type: none; 
  }

  .Insciption{
    border: 1px solid #3498db;
    padding: 9px 16px;
    border-radius: 4px;
  }
  .Insciption a{
    color: #3498db !important;
  }
  .Login{
    text-align-last: center !important;
  }
  .Login a{
    color: #888888 !important;
    font-weight:500 !important;
    font-size: 18px !important;
  }
  
  .nav-item a {
    color: #000;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    transition: color 0.3s ease-out;
  }
  
  .nav-item a:hover {
    color: #3498db;
  }
  
  /* SECTIONS */
  
  .headline {
    width: 100%;
    background: #101214;
    background-size: cover;
  }
  .BigTitle{
    font-size: 20rem;
    font-weight: bold;
    letter-spacing: -15px;
    border-bottom: 1px solid rgb(206, 206, 206);
    margin-bottom: 60px;
    line-height: 1;
  }
  
  .features {
    width: 100%;
    height: auto;
    background-color: #f1f1f1;
    display: flex;
    padding: 50px 20px;
    justify-content: space-around;
  }
  
  .feature-container {
    flex-basis: 30%;
    margin-top: 10px;
  }
  
  .feature-container p {
    color: #000;
    text-align: center;
    line-height: 1.4;
    margin-bottom: 15px;
  }
  
  .feature-container img {
    width: 100%;
    margin-bottom: 15px;
  }
  
  /* SEARCH FUNCTION */
  
  #search-icon {
    font-size: 0.9rem;
    margin-top: 3px;
    margin-left: 15px;
    transition: color 0.3s ease-out;
    height: 30px;
    width: 30px;
  }
  
  #search-icon:hover {
    color: #3498db;
    cursor: pointer;
  }
  
  .search {
    transform: translate(-35%);
    -webkit-transform: translate(-35%);
    transition: transform 0.7s ease-in-out;
    color: #3498db;
  }
  
  .no-search {
    transform: translate(0);
    transition: transform 0.7s ease-in-out;
  }
  
  .search-input {
    position: absolute;
    opacity: 0;
    z-index: -1;
    transition: opacity 0.6s ease;
    top: 3px;
    right: -160px;

  }
  
  .search-active {
    opacity: 1;
    z-index: 0;
  }
  
  input {
    border: 0;
    border-left: 1px solid #ccc;
    border-radius: 0; /* FOR SAFARI */
    outline: 0;
    padding: 5px;
  }
  
  /* MOBILE MENU & ANIMATION */
  
  .menu-toggle .bar{
    width: 25px;
    height: 3px;
    background-color: #3f3f3f;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  .menu-toggle {
    justify-self: end;
    margin-right: 25px;
    display: none;
  }
  
  .menu-toggle:hover{
    cursor: pointer;
  }
  
  #mobile-menu.is-active .bar:nth-child(2){
    opacity: 0;
  }
  
  #mobile-menu.is-active .bar:nth-child(1){
    -webkit-transform: translateY(8px) rotate(45deg);
    -ms-transform: translateY(8px) rotate(45deg);
    -o-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
  }
  
  #mobile-menu.is-active .bar:nth-child(3){
    -webkit-transform: translateY(-8px) rotate(-45deg);
    -ms-transform: translateY(-8px) rotate(-45deg);
    -o-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
  }
  
  /* KEYFRAME ANIMATIONS */
  
  @-webkit-keyframes gradbar {
      0% {
          background-position: 0% 50%
      }
      50% {
          background-position: 100% 50%
      }
      100% {
          background-position: 0% 50%
      }
  }
  
  @-moz-keyframes gradbar {
      0% {
          background-position: 0% 50%
      }
      50% {
          background-position: 100% 50%
      }
      100% {
          background-position: 0% 50%
      }
  }
  
  @keyframes gradbar {
      0% {
          background-position: 0% 50%
      }
      50% {
          background-position: 100% 50%
      }
      100% {
          background-position: 0% 50%
      }
  }
  
  /* Media Queries */
  
    /* Mobile Devices - Phones/Tablets */
  
  @media only screen and (max-width: 720px) { 
    .features {
      flex-direction: column;
      padding: 50px;
    }
    
    /* MOBILE HEADINGS */
    
    h1 {
      font-size: 1.9rem;
    }
    
    h2 {
      font-size: 1rem;
    }
    
    p {
      font-size: 0.8rem;
    }
    
    /* MOBILE NAVIGATION */
       
    .navbar ul {
      display: flex;
      flex-direction: column;
      position: fixed;
      justify-content: start;
      top: 55px;
      background-color: #fff;
      width: 100%;
      height: calc(100vh - 55px);
      transform: translate(-101%);
      text-align: center;
      overflow: hidden;
    }
    
    .navbar li {
      padding: 15px;
    }
    
    .navbar li:first-child {
      margin-top: 50px;
    }
    
    .navbar li a {
      font-size: 1rem;
    }
     
    .menu-toggle, .bar {
      display: block;
      cursor: pointer;
    }
    
    .mobile-nav {
    transform: translate(0%)!important;
  }
    
    /* SECTIONS */
    
      
    .feature-container p {
      margin-bottom: 25px;
    }
    
    .feature-container {
      margin-top: 20px;
    }
    
    .feature-container:nth-child(2) {
      order: -1;
    }
    
    /* SEARCH DISABLED ON MOBILE */
    
    #search-icon {
      display: none;
    }
    
    .search-input {
    display: none;
   }
    
  }

  .Radnoom_Article{
    display: flex;
    align-items:start;
    justify-content:space-between;
    padding:0px 10%;
  }
  .Radnoom_Article img  {
    width: 100px;
    display: block;
  }
  .Radnoom_Article_left,.Radnoom_Article_right{
    width: 46%;
  }
  .Radnoom_Article_left img {
    width: 100%;
    box-shadow: 0px 0px 11px -4px white;
    border-radius: 2px;
  }
  .Radnoom_Article_left h5 {
    padding: 10px 0px;
    color: #b9b9b9;
    font-size: 16px;
    font-weight: 300;
  }
  .Radnoom_Article_left h2{
    color: white;
    font-size: 29px;
    text-align: start;
    font-weight: 900;
  }

  .Radnoom_Article_left p{
    color:#bababa;
    text-align: start;
    font-size:15px;
  }
  
  .Radnoom_Article_right .Radnoom_Article_right_articl{
    display: flex;
    align-items: start;
    margin-bottom: 30px;
  }
  .Radnoom_Article_right_articl img{
    width: 50%;
    box-shadow: 0px 0px 11px -4px white;
    border-radius: 2px;
  }
  .Radnoom_Article_right h5{
    padding: 10px 20px;
    color: #b9b9b9;
    font-size: 16px;
    font-weight: 300;
  }
  .Radnoom_Article_right h2{
    color: white;
    font-size: 25px;
    text-align: start;
    font-weight: 900;
    padding: 10px 20px;
  }

  .navbar_LogoSearch{
    display: flex;
    align-items:center;
    width: 30%;
  }
  .navbar_LogoSearch div{
    border: 1px solid #928f8f;
    border-radius: 3px;
    margin: 0px 20px;
    padding: 3px 10px;
    width: 97%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navbar_LogoSearch input{
    border:none;
  }
  .navbar_LogoSearch div img{
    height:22px;
  }


  .PopularArticle{
    padding:60px 5%;
    background: #101214;
  }
  .PopularArticle h2{
    color: white;
    text-align: start;
    font-size:45px;
    font-weight:800;
    padding:40px 0px;
  }
#artigos{

  display: flex;
  justify-content: space-between;
}

#article{
 width:380px;
 min-height:620px;
 display:inline-block;
 background:white;
 border-radius:10px;
 box-shadow: 0px 55px 60px 0px rgba(0, 0, 0, 0.27);
 transition:1s;
 cursor: pointer;
}

#article img{
   border-radius: 10px 10px 0px 0px;
}

#article h1{
  font-weight: 100;
  font-size: 26px;
  padding: 0px 20px;
  color: black;
  text-align: start;
  font-weight: 900;
  line-height:1.4;
}

#readmore{
 color:black !important;
 margin-top:30px;
}

#article p{
  font-weight: 300;
  padding: 0px 10px 0px 30px;
  text-align: start;
  padding: 20px 20px;
  line-height: 1.8;
  color:#7c7c7c;
  text-align: start;
  font-size:17px;
}


#article:hover{
 transition:1s;
 transform: scale(1.01);
}



#article h5 {
  padding: 20px 20px;
  color:#7c7c7c;
  font-size: 16px;
  font-weight: 300;
}

.Footer{
  padding: 50px 10%;
  text-align: center;
  background: #101214;

}
.Footer p {
  font-size: 18px;
  padding: 4px 0px;
  color: white;
}
.Footer span{
  color: #3498db !important;
}

.Footer img{
    width: 20%;
    margin:40px 0px;
}


/* Login */


#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
}

.container{
  margin: 0;
  top: 50px;
  left: 50%;
  position: absolute;
  text-align: center;
  transform: translateX(-50%);
  background-color: rgb( 33, 41, 66 );
  border-radius: 9px;
  border-top: 10px solid #79a6fe;
  border-bottom: 10px solid #8BD17C;
  width: 400px;
  height: 500px;
  box-shadow: 1px 1px 108.8px 19.2px rgb(25,31,53);
}

.box h4 {
  /* font-family: 'Source Sans Pro', sans-serif;
  color: #5c6bc0; 
  font-size: 18px;
  margin-top:94px;; */
}

.box h4 span {
  color: #dfdeee;
  font-weight: lighter;
}

.box h5 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 25px;
  color: #a1a4ad;
  letter-spacing: 1.5px;
  margin-top: 50px;
  margin-bottom: 70px;
}

.box input[type = "text"],.box input[type = "password"] {
  display: block;
  margin: 20px auto;
  background: #262e49;
  border: 0;
  border-radius: 5px;
  padding: 14px 10px;
  width: 320px;
  outline: none;
  color: #d6d6d6;
      -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
  
}
::-webkit-input-placeholder {
  color: #565f79;
}

.box input[type = "text"]:focus,.box input[type = "password"]:focus {
  border: 1px solid #79A6FE;
  
}

a{
  color: #5c7fda;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

 label input[type = "checkbox"] {
  display: none; /* hide the default checkbox */
}

/* style the artificial checkbox */
label span {
  height: 13px;
  width: 13px;
  border: 2px solid #464d64;
  border-radius: 2px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  float: left;
  left: 7.5%;
}

.btn1 {
  border:0;
  background: #3498db !important;
  color: #dfdeee;
  border-radius: 100px;
  width: 340px;
  height: 49px;
  font-size: 16px;
  position: absolute;
  top: 79%;
  left: 8%;
  transition: 0.3s;
  cursor: pointer;
}

.btn1:hover {
  background: #5d33e6;
}

.rmb {
  position: absolute;
  margin-left: -24%;
  margin-top: 0px;
  color: #dfdeee;
  font-size: 13px;
}

.forgetpass {
  position: relative;
  float: right;
  right: 28px;
}

.dnthave{
    position: absolute;
    top: 92%;
    left: 24%;
}

[type=checkbox]:checked + span:before {/* <-- style its checked state */
    font-family: FontAwesome;
    font-size: 16px;
    content: "\f00c";
    position: absolute;
    top: -4px;
    color: #896cec;
    left: -1px;
    width: 13px;
}

.typcn {
  position: absolute;
  left: 339px;
  top: 282px;
  color: #3498db !important;
  font-size: 22px;
  cursor: pointer;
}      

.typcn.active {
  color: #7f60eb;
}

.error {
  background: #ff3333;
  text-align: center;
  width: 337px;
  height: 20px;
  padding: 2px;
  border: 0;
  border-radius: 5px;
  margin: 10px auto 10px;
  position: absolute;
  top: 31%;
  left: 7.2%;
  color: white;
  display: none;
}

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    top: 605px;
    width: 100%;
    color: #78797d;
    font-size: 14px;
    text-align: center;
}

.footer .fa {
  color: #3498db !important;;
}
.bounceInDown{
  background: rgba(0, 0, 0, 0.5) !important;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  top: 0;
  z-index: 100;
}

/* Core */

.Core{
  padding: 50px 6%;
  background-color: #f6f6f6;
  display:flex;
  align-items: start;
  justify-content: space-between;
}

.SideBare{
  margin-bottom: 70px;

}
.SideBare ::-webkit-scrollbar {
  background: #e4e4e4 !important ;
  width: 0.3rem !important;
}
.SideBare ::-webkit-scrollbar-thumb {
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB) !important;
  animation: gradbar 15s ease infinite !important;
  border-radius: 1rem !important;
}
.Core .SideBare h2{
  text-align: start !important;
  font-size: 20px;
  font-weight: 800;
  
}

.Core .SideBare li{
  list-style-type: none;
  padding: 7px 0px;
  cursor: pointer;
  color: #787878;
  font-weight: 500;
}
.Core .SideBare li:hover{
  color: #3498db;
  background-color: #f8f8f8;
  padding: 10px;
  border-radius: 4px;
}
.Core .SideBare ul{
  margin: 20px 0px;
  height: 400px;
  overflow-y: scroll;
}



/* Card */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.card button {
  outline: none;
  border: none;
}
.card {
  position: relative;
  max-width: 18.75rem;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 1rem;
  overflow: hidden;
  margin-bottom: 40px;
}
.card-body,
.card-footer {
  padding: 1.5em;
  padding-bottom: 0;
}
.card h2{
  text-align: start;
  font-size: 20px;
  font-weight: 700;
}
.card img {
  display: block;
  width: 100%;
  height: auto;
  transition: transform 0.4s ease;
}
.card-thumb {
  position: relative;
  height: 200px;
  transition: height 0.4s ease;
}
.card-thumb a {
  display: block;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.card:hover .card-thumb {
  height: calc(200px - 4.5rem);
}

.card:hover .card-thumb::after {
  opacity: 0.4;
}
.card-date {
  display: flex;
  position: absolute;
  top: -3rem;
  right: 0;
  width: fit-content;
  margin: 1rem;
  padding: 0.25rem 0.75rem;
  background-color: #efefef;
  color: #000;
  border-radius: 2rem;
  transition: top 0.4s ease;
}
.card-date :first-child {
  margin-right: 0.25rem;
  font-size: 0.75rem;
}
.card-date :last-child {
  font-size: 0.75rem;
}
.card-category {
  position: absolute;
  bottom: -1rem;
  right: 0;
  margin: 0 1rem;
  padding: 0.25rem 0.75rem;
  background-color: #4193f7;
  color: #fff;
  border-radius: 2rem;
  z-index: 1;
  transition: right 0.4s ease;
}
.card:hover .card-category {
  right: 45%;
}
.card-subtitle {
  margin-bottom: 0.75rem;
  color: rgb(164, 164, 164);
}
.card-description {
  display: block;
  height: 0;
  padding: 0 0.5em;
  font-size: 0.875rem;
  /* color: rgb(96, 91, 91); */
  color: #666c74;
  opacity: 0;
  transition: height 0.4s ease, opacity 0.2s ease;
}
.card:hover .card-description {
  height: 4.5rem;
  opacity: 1;
}
.card-footer {
  display: flex;
  justify-content: flex-end;
  background: #fff;
}
.card-time i,
.card-comment i {
  margin: 0 0.25rem;
  color: #4193f7;
}
.card-time span,
.card-comment span {
  font-size: 0.75rem;
  line-height: 1.875rem;
  vertical-align: top;
}
.card-time {
  margin-right: 0.5rem;
}
.card:hover .card-date {
  top: 0;
}

.card p {
  color: #959595;
  text-align: center;
  line-height: 1.6;
  text-align: start;
  font-size: 15px;
}

.Core .Core_Left ,.Core  .Core_Right{
  text-align: start !important;
  width:20%;
  position: sticky;
  top: 10px;
  height:100vh;
  overflow-y:scroll;
}
.Core ::-webkit-scrollbar {
  width: 0rem;
}



.Core .Core_Midlle{
  width: 60%;
}
.Core_Midlle .articles img{
  height: 300px;
  transition: transform 0.4s ease;
  OBJECT-FIT: cover;
}
.Core_Midlle .articles .card{
  max-width: 80% !important;
  border-radius:10px;
  cursor: pointer;
}
.Core_Midlle .articles .card:hover{
  box-shadow: 0px 0px 11px -7px;
}
.Core_Midlle .articles .card .body{
  padding:20px;
}
.Core_Midlle .articles .card .tags{
  display:flex;
}
.Core_Midlle .articles .card .tags li{
  margin:10px 5px;
  color:rgb(144, 144, 144)
}
.Core_Midlle .articles .card h3{
  font-size: 23px;
  font-weight: bold;
}

.AvatarAndName{
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}
.AvatarAndName img{
  width:50px !important;
  height:50px !important;
  border-radius: 100%;
  cursor: pointer;
}

.AvatarAndName h6, .AvatarAndName p{
  cursor: pointer;
  padding-left: 20px;
  font-size: 20px;
}
.AvatarAndName p{
  font-size:14px;
  position: relative;
  top:5px;
}
.Post__Icons{
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.Post__Icons svg{
  width:30px;
  height:30px;
  cursor: pointer;

}
.Post__Icons h6{
  font-size: 20px;
}
.Post__Icons .LeftIcons{
  display: flex;
  align-items: start !important;
}

.Post__Icons .LeftIcons h6{
  margin: 0px 10px;
  padding:0px;
}
.Post__Icons .LeftIcons svg{
  margin-right:20px ;
}
.Post__Icons .Active{
  fill: red;;
}

.LeftIcons{
  display: flex;
}
.LeftIcons svg,.LeftIcons.LikeHearet{
  margin-right:20px ;
}

.Core_Midlle .articles .card button{
    padding: 10px 22px;
    font-size: 17px;
    border-radius: 6px;
    margin: 0px 10px;
}

.Core_Midlle .Core_Core_Midlle_Filter h6{
    font-size: 18px;
    font-weight: 500;
    padding: 0px 10px;
    color: rgb(123, 123, 123);
    cursor: pointer;
}
.Core_Midlle .Core_Core_Midlle_Filter h6:hover{
  color: #3498db;
}
.Core_Midlle .Core_Core_Midlle_Filter .ActiveFilter{
  color: black !important;
  font-weight: 900;
}
.Content_Article{
  padding: 50px 10%;
  display: flex;
  justify-content:space-between;
  align-items:start;
  background-color:#f6f6f6
}

.Article_details .Article_Content_Details{
    border-radius:20px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0px 0px 11px -8px;
}

.Article_details .Article_Content_Details .header{
  display: block;
  width: 100%;
  height: auto;
}
.Article_details .Article_Content_Details .header img{
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.Article_details .Article_Content_Details .body{
  padding: 30px 2%;
}
.Article_details .Article_Content_Details .body p{
  color: rgb(128, 128, 128);
  text-align:start !important;
}

.Article_details .Article_Content_Details .body .tags{
  display:flex;
  padding-bottom: 10px;
}
.Article_details .Article_Content_Details .body .tags li{
  margin:10px 5px;
  color:rgb(144, 144, 144)
}
.Article_details .Article_Content_Details .body h3{
  font-size: 23px;
  font-weight: bold;
}
.Article_details .Article_Content_Details .body h1{
  font-size: 30px;
  font-weight: bold;
  color: black;
  text-align: start;
  padding: 20px 0px;
}
.Article_details .Article_Content_Details .body .description{
  width: 85%;
  font-size: 17px;
  line-height: 33px;
  font-weight: 500;
  color: #5c5c5c;
}

.Article_details {
  display: flex;
  align-items:start;

}
.Content_Article .Content_Article_left{
  width: 70%;
}
.Content_Article .Content_Article_Right{
  width: 20%;
}
.Content_Article .Content_Article_left .Article_Content_Icons{
  margin-right: 40px;
  margin-top: 40px;
  text-align: center;
  position:sticky;
  top: 20px;
}
.Content_Article .Content_Article_left .Article_Content_Icons svg,
.Content_Article .Content_Article_left .Article_Content_Icons img{
    cursor: pointer;
}
.Content_Article .Content_Article_left .Article_Content_Icons h6{
  margin: 15px 0px;
  font-size: 20px;
}
.Article_Content_Comment{
  margin-top: 30px;
  padding: 20px 0px;
  border-top: 1px solid rgb(149, 149, 149);
}
.Article_Content_Comment h2{
  color: #000;
  font-size: 1.6rem;
  text-align: start;
  line-height: 1.4;
  margin-bottom: 10px;
}
.Comment__new{
  display: flex;
  align-items:start
}


/* comment */


.text-right{ text-align: right; }

.comments-app{
  width: 100%;
}

.comments-app h1{
  color: #191919;
  margin-bottom: 1.5em;
  text-align: center;
  text-shadow: 0 0 2px rgba(152, 152, 152, 1);
}



.comment-form .form{ margin-left: 100px; }

.comment-form .form .form-row{ margin-bottom: 10px; }
.comment-form .form .form-row:last-child{ margin-bottom: 0; }

.comment-form .form .input{
  background-color: #f6f6f6;
  border: none;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .15);
  color: #555f77;
  font-family: inherit;
  font-size: 14px;
  padding: 5px 10px;
  outline: none;
  width: 100%;

  -webkit-transition: 350ms box-shadow;
  -moz-transition: 350ms box-shadow;
  -ms-transition: 350ms box-shadow;
  -o-transition: 350ms box-shadow;
  transition: 350ms box-shadow;
}

.comment-form .form textarea.input{
  height: 100px;
  padding: 15px;
  background-color: #f6f6f6;
}

.comment-form .form label{
  color: #555f77;
  font-family: inherit;
  font-size: 14px;
}

.comment-form .form input[type=submit]{
  background-color: #555f77;
  border: none;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .15);
  color: #fff;
  cursor: pointer;
  display: block;
  margin-left: auto;
  outline: none;
  padding: 6px 15px;

  -webkit-transition: 350ms box-shadow;
  -moz-transition: 350ms box-shadow;
  -ms-transition: 350ms box-shadow;
  -o-transition: 350ms box-shadow;
  transition: 350ms box-shadow;
}

.comment-form .form .input:focus,
.comment-form .form input[type=submit]:focus,
.comment-form .form input[type=submit]:hover{
  box-shadow: 0 2px 6px rgba(121, 137, 148, .55);
}

.comment-form .form.ng-submitted .input.ng-invalid,
.comment-form .form .input.ng-dirty.ng-invalid{
  box-shadow: 0 2px 6px rgba(212, 47, 47, .55) !important;
}

.comment-form .form .input.disabled {
    background-color: #E8E8E8;
}


.comments{  }

.comment-form,
.comment{
  margin-bottom: 20px;
  position: relative;
  z-index: 0;
}

.comment-form .comment-avatar,
.comment .comment-avatar{
  border: 2px solid #fff;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
  height: 50px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 50px;
}

.comment-form .comment-avatar img,
.comment .comment-avatar img{
  display: block;
  height: auto;
  width: 100%;
}

.comment .comment-box{
  background-color: #efefef;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .15);
  margin-left: 100px;
  min-height: 60px;
  position: relative;
  padding: 15px;
}

.comment .comment-box:before,
.comment .comment-box:after{
  border-width: 10px 10px 10px 0;
  border-style: solid;
  border-color: transparent #efefef;
  content: "";
  left: -10px;
  position: absolute;
  top: 20px;
}

.comment .comment-box:before{
  border-color: transparent rgba(0, 0, 0, .05);
   top: 22px;
}

.comment .comment-text{
  color: #555f77;
  font-size: 16px;
  margin-bottom: 25px;
  line-height: 1.5rem;
}

.comment .comment-footer{
  color: #acb4c2;
  font-size: 13px;
}

.comment .comment-footer:after{
  content: "";
  display: table;
  clear: both;
}

.comment .comment-footer a{
  color: #acb4c2;
  text-decoration: none;

  -webkit-transition: 350ms color;
  -moz-transition: 350ms color;
  -ms-transition: 350ms color;
  -o-transition: 350ms color;
  transition: 350ms color;
}

.comment .comment-footer a:hover{
  color: #555f77;
  text-decoration: underline;
}

.comment .comment-info{
  float: left;
  width: 85%;
}

.comment .comment-author{ }
.comment .comment-date{ }

.comment .comment-date:before{
  content: "|";
  margin: 0 10px;
}

.comment-actions{
  float: left;
  text-align: right;
  width: 15%;
}
